<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
</head>
<body>

	<h2>Name:  <%= data.name %></h2>
	<h2>Location: <%= data.location %></h2>
	<h2>Language: <%= data.language %></h2>
	<h2>Comment:  <%= data.comment %></h2>


</body>
</html>