<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Controllers and Directives</title>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="myController">

	Favorite Food <input type="text" ng-model= "foodName" >
	<button ng-click="addFood(foodName)" >Add Food</button>
	Currently typing : {{foodName}}
	<br>
	<br>
	<input style="display: block;" type="text" placeholder='filter...' ng-model="filterSearch">
	<div style="margin-top: 20px; height: auto; width: 200px;border: 1px solid black" >
		<p ng-repeat= "food in foodList | filter : filterSearch ">
			{{food}}
		</p>
		
	</div>





</body>
</html>